body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .inline-icon {
    vertical-align: bottom;
    font-size: 22px !important;

  }
  .wallpapered {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(../img/bg.jpg);
    background-position: center center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
}
.minicontainer{

margin-left:4%;
margin-right:4%;

}
.elevarable{
transition:all 0.2s !important;

}
.elevarable:hover{

transform:translateY(-2%);

}
